<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    <!-- Using ../ You can out of one directory -->
    style
        include ../static/style.css
</head>

<body>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Header</h1>
        <p>
            | #{content}
        </p>

        <form action="/" method="POST" id="contact">
            <input type="text" name="name" placeholder="Enter your name">
            <input type="text" name="age" placeholder="Enter your age">
            <input type="text" name="gender" placeholder="Enter your gender">
            <textarea name="address" id="address" rows="10" cols="20" placeholder="Enter your address"></textarea>
            <textarea name="more" id="more" rows="10" cols="20" placeholder="Enter your more"></textarea>
            <button class="btn">Submit</button>
        </form>
    </div>
</body>

</html>