* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 12px 0;
}

.container {
    min-height: 80vh;
    margin: 43px 0;
}

.container h1 {
    font-family: 'Courier New', Courier, monospace;
}

.myForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.myInput {
    width: 40%;
    padding: 9px;
    margin: 8px;
    font-size: 16px;
    border: 2px solid grey;
    border-radius: 12px;
    outline: none;
}

.btn {
    padding: 10px 13px;
    font-size: 16px;
    border: 2px solid grey;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}